$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//login-colors
$color-border: #999;
$color-login-blue: #436f9e;
$color-login-background: #5C5C5C;
$default-font-size: 1.6rem;
$color-button: #E63950;