.nav {
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    flex-direction: row; 
    position: relative;
    padding: 2rem;
    font-size: 1.4rem;

    &__ul {
        list-style: none;
        position: absolute;
        left: 45%;
    }

    &__d {
        padding-bottom: 0.5rem;
        opacity: .7;

        &:hover {
            border-bottom: 2px solid $color-button;
        }

        &:active, &:focus {
            border-bottom: 2px solid $color-button;
        }
    }

    &__g {
        opacity: .7;
        margin-left: 2rem;
        padding-bottom: 0.5rem;
        &:hover{
            border-bottom: 2px solid $color-button;
        }
        
        &:active, &:focus {
            border-bottom: 2px solid $color-button;
        }
    }

    &__logo {
        height: 4rem;
        padding-top: 1rem;
        padding-left: 1rem;
    }

    &__user {
        height: 3rem;
        position: absolute;
        right: 0;
        padding-right: 4rem;
    }
}

.check {
    float: left;
}
.upload {

    &__container {
        background-color: white;
        box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.2);
        width:720px;
        max-width: 100%;
        min-height: 300px;
        position:relative;
        border-radius: 15px;
        overflow:hidden;
        margin: 180px auto;
        
    }

    &__buttons {
        //position: absolute;
        display: flex;
    }

    
}

.form-c{
    position: absolute;
    transition: all 0.8s ease-in-out;
    height: 100%;
    top:0;
}
.cert__form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    //background-color: #2e2b26;
    flex-direction: column;
    text-align: center;
    height:100%;
    padding: 0 50px;
}

.cert__input{
    width:100%;
    background-color: white;
    //border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 0;
    outline: 0;
    border-width: 0 0 2px;
    border-color: $color-button;
}

#imgFile {
    display: none;
}
#excelFile {
    display: none;
}